/* importing google fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins: wght@200; 300; 400; 500; 600; 700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;

// creating an array and passing the number, questions, options, and answers
let questions=[
{
numb: 1,
question: "Quem foi a única pessoa na história a receber o Prêmio Nobel em áreas científicas diferentes?",
answer: "Marie Curiee",
options: [
"Albert Einstein",
"Marie Curiee",
"Stephen Hawking",
"Linus Pauling"
   
    body {
background: rgb(90, 0, 187);
}
::selection{
color: #fff;
background: #007bff;
}

.start_btn,
.info_box,
.quiz_box,
.result_box{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
box-shadow: 4px 8px rgba(0, 0, 0, 0.2),
Ø 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{ opacity: 1;
z-index: 5;
pointer-events: auto;
transform: translate(-50%, -50%) scale(1);
}

.start_btn button{
font-size: 25px;
font-weight: 500;
color: #007bff;
padding: 15px 30px;
outline: none;
border: none;
border-radius: 5px;
background: #fff;
cursor: pointer;
transition: 1s ease-in-out;
}

.start_btn_button:hover{
transform: scale(1.5); color: rgb(90, 0, 187);
}
